@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Lexend:wght@100..900&family=Liter&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #e8ebef;
}

section{
    min-height: 100vh;
    scroll-snap-align: start;
}

h1{
    color: #1a1919;
    margin: -48px 0px 0px 0px;
    font-family: 'Anton';
    font-size: 128px;
}

h2{
    color: #848484;
    margin: 0px 0px -4px 0px;
    font-family: 'Liter';
    font-weight: 100;
}

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #d1d1d100;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9882d4;
    border-radius: 10px;
    transition: all 1s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #7f6cb3;
    transition: all 1s ease;
}

.icon_home{
    width: 26px;
}

.interface{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.table{
    margin: 32px 0px 64px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.scaleAnimation{
    transition: all 0.5s ease;
}

.scaleAnimation:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.column{
    text-align: center;
    border: 5px dashed #d1cfd4;
    display: flex;
    border-radius: 24px;
    margin: 12px;
    padding: 14px 24px 14px 24px;
    background-color: #ebe7e7;
    box-shadow: 0px 0px 20px rgba(7, 7, 7, 0.2);
}

.column h2{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: #1a1919;
    line-height: 17px;
    font-size: 16px;
    font-family: 'Press Start 2P';
}

.show{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
    transition: all 1.5s;
}

.hidden{
    transform: translateX(-100px);
    opacity: 0;
    filter: blur(3px);
}

.icon{
    width: 64px;
}

.navbar{
    z-index: 1000;
    position: fixed;
    width: 80%;
    margin-top: 18px;
    padding: 4px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: 0px 0px 10px rgba(7, 7, 7, 0.1);
    background-color: #f5f5f5;
    font-family: 'Liter';
    font-style: normal;
    color: #363434;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.navbar img{
    width: 72px;
    margin-left: 6px;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar li{
    margin-right: 24px;
    align-items: center;
    display: flex;
}

@media (max-width: 475px){
    #logo_navbar{
        display: none;
    }
    .navbar{
        justify-content: center;
        width: 90%;
    }
}

@media (max-width: 900px){
    ::-webkit-scrollbar {
        display: none;
    }
}